ALTER TABLE `${tableName}`
#foreach ($column in $columns)
ADD COLUMN `${column.columnName}` $column.columnType #if($column.isNull) NOT NULL #if($column.columnDefault) DEFAULT $column.columnDefault #end #else DEFAULT NULL #end #if($column.isIncrement) AUTO_INCREMENT #end COMMENT '${column.columnComment}' #if($foreach.hasNext),#end
#end
;
