<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gklx.mopga.admin.module.generate.dao.TDocumentVersionDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        t_document_version.id,
        t_document_version.document_id,
        t_document_version.version,
        t_document_version.document_name,
        t_document_version.document_content,
        t_document_version.file_type,
        t_document_version.document_type,
        t_document_version.create_by,
        t_document_version.create_time
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="com.gklx.mopga.admin.module.generate.domain.vo.TDocumentVersionVo">
        SELECT
        <include refid="base_columns"/>
        FROM t_document_version
	    ORDER BY t_document_version.update_time
    </select>
</mapper>